.poppins {
  font-family: "Poppins", sans-serif;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.letter-spacing {
  letter-spacing: 2px;
}

.bold-headers {
  font-weight: 800;
}

.very-bold-headers {
  font-weight: 900;
}

.t-duration {
  transition-duration: 0.5s;
}

/* ============================== */

nav .nav-item a::before {
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  position: absolute;
  transition-duration: 0.6s;
  background-color: black;
}

body:not(:has(:target)) li a[href="#home"]::before,
body:has(#home:target) li a[href="#home"]::before,
body:has(#services:target) li a[href="#services"]::before,
body:has(#portfolio:target) li a[href="#portfolio"]::before,
body:has(#about:target) li a[href="#about"]::before,
body:has(#contact:target) li a[href="#contact"]::before,
body:has(#blog:target) li a[href="#blog"]::before {
  width: 50%;
  background-color: black;
}

/* ============================ */

header {
  background: url(../images/bg.jpg) center/cover fixed;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
}

p {
  margin: 0;
}

.animation-text::after {
  content: "|";
  color: white;
  font-size: 50px;
  font-weight: 300;
}

.animation-text::before {
  content: "";
  color: white;
  animation: text 10s infinite;
  font-size: 50px;
  font-weight: 300;
}

header .fa {
  width: 20px;
  height: 20px;
  line-height: 20px;
  box-sizing: content-box;
}

@keyframes text {
  0% {
    content: "I Am ";
  }
  1% {
    content: "I Am L";
  }
  2% {
    content: "I Am La";
  }
  3% {
    content: "I Am Lar";
  }
  4% {
    content: "I Am Larr";
  }
  5% {
    content: "I Am Larry";
  }
  6% {
    content: "I Am Larry D";
  }
  7% {
    content: "I Am Larry Da";
  }
  8% {
    content: "I Am Larry Dan";
  }
  9% {
    content: "I Am Larry Dani";
  }
  10% {
    content: "I Am Larry Danie";
  }
  11% {
    content: "I Am Larry Daniel";
  }
  12% {
    content: "I Am Larry Daniels";
  }
  14% {
    content: "I Am Larry Daniel";
  }
  15% {
    content: "I Am Larry Danie";
  }
  16% {
    content: "I Am Larry Dani";
  }
  17% {
    content: "I Am Larry Dan";
  }
  18% {
    content: "I Am Larry Da";
  }
  19% {
    content: "I Am Larry D";
  }
  20% {
    content: "I Am Larry ";
  }
  21% {
    content: "I Am Larr";
  }
  22% {
    content: "I Am Lar";
  }
  23% {
    content: "I Am La";
  }
  24% {
    content: "I Am L";
  }
  25% {
    content: "I Am ";
  }
  26% {
    content: "I Am D";
  }
  27% {
    content: "I Am De";
  }
  28% {
    content: "I Am Dev";
  }
  29% {
    content: "I Am Deve";
  }
  30% {
    content: "I Am Devel";
  }
  31% {
    content: "I Am Develo";
  }
  32% {
    content: "I Am Develop";
  }
  33% {
    content: "I Am Develope";
  }
  34% {
    content: "I Am Developer";
  }
  36% {
    content: "I Am Developer";
  }
  37% {
    content: "I Am Develope";
  }
  38% {
    content: "I Am Develop";
  }
  39% {
    content: "I Am Develo";
  }
  40% {
    content: "I Am Devel";
  }
  41% {
    content: "I Am Deve";
  }
  42% {
    content: "I Am Dev";
  }
  43% {
    content: "I Am De";
  }
  44% {
    content: "I Am D";
  }
  45% {
    content: "I Am ";
  }
  46% {
    content: "I Am D";
  }
  47% {
    content: "I Am De";
  }
  48% {
    content: "I Am Des";
  }
  49% {
    content: "I Am Desi";
  }
  50% {
    content: "I Am Desig";
  }
  51% {
    content: "I Am Design";
  }
  52% {
    content: "I Am Designe";
  }
  53% {
    content: "I Am Designer";
  }
  54% {
    content: "I Am Designer";
  }
  59% {
    content: "I Am Designer";
  }
  60% {
    content: "I Am Designe";
  }
  61% {
    content: "I Am Design";
  }
  62% {
    content: "I Am Desig";
  }
  63% {
    content: "I Am Desi";
  }
  64% {
    content: "I Am Des";
  }
  65% {
    content: "I Am De";
  }
  66% {
    content: "I Am D";
  }
  67% {
    content: "I Am ";
  }
  100% {
    content: "I Am ";
  }
}

/* ============================ */

.progress {
  height: 25px !important;
  font-size: 13px;
}

.inset-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px inset;
}

button.cv-btn,
button.contact-btn {
  font-size: 13px;
  width: 150px;
}

button.cv-btn:hover {
  background-color: white !important;
  color: black !important;
}

button.contact-btn:hover {
  background-color: black !important;
  color: white;
}

/* ====================================== */

.services .card-body > i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  box-sizing: content-box;
}

.services .card-body:hover > i {
  background-color: black !important;
  color: white;
}
