@import url("https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap");
@font-face {
  font-family: willow;
  src: url(../fonts/Willow.ttf);
}

body {
  background: url(../images/bg.jpg) center/cover no-repeat;
}

.content,
.quote-button {
  font-family: Mina, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.author {
  font-family: willow, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

.quote-button {
  position: absolute;
  bottom: 60px;
  min-width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

i.fa {
  cursor: pointer;
}
