.header {
  color: #d8dee9;
  font-size: 2.2em;
  font-weight: normal;
}

.footer {
  font-size: medium;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #3b4252;
  color: #d8dee9;
}

.github-link {
  color: #d8dee9;
  margin-left: 10px;
}

.github-link:hover {
  color: #88c0d0;
}

.list-group-item {
  background-color: #434c5e;
  color: #d8dee9;
  font-size: x-large;
}

.list-group-item:hover {
  background-color: #88c0d0;
  color: #2e3440;
}

ol li {
  font-size: large;
}

h5 {
  font-size: larger;
}

body {
  background-color: #2e3440;
  color: #d8dee9;
}

.modal-content {
  background-color: #3b4252;
  color: #d8dee9;
}

.close {
  background-color: transparent;
  color: #d8dee9;
  opacity: 1;
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 0px;
}

.close:hover {
  color: #88c0d0;
}

a {
  color: #88c0d0;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #d8dee9;
  text-decoration: underline;
}

/* ===================================== */

@media (max-width: 576px) {
  .header {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 10px;
  }
  h5 {
    font-size: x-large;
  }
  ol li {
    font-size: large;
  }
  .list-group-item {
    font-size: large;
  }
}
