/* ====================General Styling==================== */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-black: #212529;
  --secondary-black: #37373f;

  --primary-gray: #7f7f90;
  --secondary-gray: #4f4f5a;
  --tertiary-gray: #7d7d7d;

  --red-bg: #e51414;
  --red-icon: #ce1212;
  --gray-bg: #eeeeee;

  --primary-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --secondary-font: "Amatic SC", var(--primary-font);

  --duration: 0.3s;

  --inner-margin: 50px auto;
  --inner-padding: 40px 5px;

  --card-shadow: #0000001a 3px 3px 15px 0px;
  --card-content-sides-padding: 25px;
}

body {
  font-family: var(--primary-font);
}

.inner {
  display: flex;
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul li {
  display: inline-block;
}

h3 {
  color: rgb(33, 37, 41);
}

.caps {
  text-transform: uppercase;
}

h2.caps {
  font-family: inter;
  font-weight: normal;
  color: var(--primary-gray);
  font-size: 14px;
}

div.caps {
  font-family: var(--secondary-font);
  font-size: 50px;
}

div.caps span {
  color: var(--red-icon);
}

html {
  scroll-behavior: smooth;
}

nav ul,
header,
header .inner,
.chefs .cards,
.gallery .inner,
.gallery .inner .cols,
.cols > div .overlay,
.contact .contact-info,
.contact-info > div,
footer .social .top,
footer .social .down ul,
footer .in-touch ul li,
footer .in-touch ul li i {
  display: flex;
  align-items: center;
}

a.video,
.chefs .cards,
.gallery .inner .cols,
.contact-info > div i.fa,
form,
footer .social h3 {
  text-align: center;
}

img,
nav,
nav ul li a:hover::after,
.cols > div .overlay,
.contact iframe,
.contact .contact-info,
form,
form input,
form textarea,
form > span,
footer .social p,
footer .social h3,
footer .social h3::after,
footer .newsletter > div,
footer .newsletter input,
footer .newsletter ul {
  width: 100%;
}

header button a,
.cols > div .overlay,
.cols > div .overlay h3,
.contact-info > div i.fa,
form button,
footer .newsletter button,
footer h2,
footer h3,
footer .in-touch a,
footer .social .down a,
footer {
  color: white;
}

nav ul li,
a.video,
.icon-wrapper,
.chefs .cards .card,
.card h3,
.cols > div > div,
footer .social p,
footer .social h3,
footer .newsletter ul {
  position: relative;
}
/* ====================Navbar==================== */

nav {
  padding: 25px 0;
  box-shadow: #0000001b 0px 0px 14px 0px;
  position: fixed;
  z-index: 99;
  background-color: white;
}

nav .inner {
  justify-content: space-between;
  align-items: center;
}

h1 a {
  font-size: 30px;
  color: rgb(33, 37, 41);
}

nav h1::after {
  content: ".";
  color: var(--red-icon);
  font-weight: bold;
}

nav ul {
  width: 25%;
  justify-content: space-between;
  gap: 10px;
}

nav ul li {
  padding: 5px;
}

nav ul li a::after {
  content: "";
  height: 2px;
  background-color: var(--red-icon);
  width: 0;
  bottom: -3px;
  left: 0;
  position: absolute;
  transition: width var(--duration) ease-in-out;
}

nav ul a {
  color: var(--primary-gray);
  font-weight: 600;
  font-size: 17px;
}

nav i {
  color: var(--primary-black);
  font-size: 25px;
}

body:not(:has(:target)) li a[href="#home"],
body:has(#home:target) li a[href="#home"],
body:has(#contact:target) li a[href="#contact"],
body:has(#gallery:target) li a[href="#gallery"],
body:has(#chefs:target) li a[href="#chefs"] {
  color: #000;
  font-weight: 600;
}

body:not(:has(:target)) li a[href="#home"]::after,
body:has(#home:target) li a[href="#home"]::after,
body:has(#contact:target) li a[href="#contact"]::after,
body:has(#gallery:target) li a[href="#gallery"]::after,
body:has(#chefs:target) li a[href="#chefs"]::after {
  width: 100%;
}

/* ====================HEADER==================== */

header {
  min-height: 100vh;
  background-color: var(--gray-bg);
}

header .inner {
  justify-content: space-between;
}

header .inner > div {
  max-width: 50%;
}

header img {
  width: 85%;
  display: block;
  margin: auto;
}

header img:hover {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

header h2.caps {
  color: var(--secondary-black);
  font-family: var(--secondary-font);
  font-size: 65px;
  font-weight: 600;
}

header p {
  color: var(--secondary-gray);
  margin: 20px 0;
  max-width: 80%;
}

header button {
  background-color: var(--red-icon);
  border: 0px;
  padding: 14px 28px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
}

header button:hover {
  background-color: var(--red-bg);
}

a.video {
  color: black;
  font-weight: bold;
  transition: all var(--duration) ease;
}

a.video:hover {
  color: var(--red-bg);
}

.icon-wrapper {
  display: inline;
  z-index: 1;
}

a.video i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

a.video i::after {
  content: "";
  background-image: linear-gradient(
    to right,
    var(--red-bg) 0 50%,
    transparent 50% 100%
  );
  height: 54px;
  width: 54px;
  border-radius: 50%;
  position: absolute;
  left: -7px;
  bottom: calc(-50% - 5px);
  z-index: -1;
}

/* ====================CHEFS==================== */

.chefs {
  overflow: auto;
}

.chefs .inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--inner-margin);
  padding: var(--inner-padding);
}

.chefs div.caps {
  color: var(--secondary-black);
  margin-bottom: 25px;
}

.chefs .cards {
  justify-content: center;
  gap: 30px;
  padding: 10px;
  align-items: stretch;
}

.chefs .cards .card {
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  width: calc(100% / 3);
  flex-grow: 1;
  transition-duration: calc(var(--duration) + 0.2s);
  overflow: hidden;
}

.cards .card .content {
  padding: 10px var(--card-content-sides-padding);
  padding-bottom: 25px;
}

.cards .card h3 {
  font-size: 19px;
  font-weight: bold;
  font-family: var(--primary-black);
}

.card .content div,
.card .content p {
  color: var(--primary-gray);
}

.card .content div {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card .content p {
  font-style: italic;
  font-size: 15px;
}

.card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

aside ul li {
  display: inline-block;
  font-size: 18px;
  color: rgba(55, 55, 63, 0.4);
  padding: 10px;
  transition-duration: var(--duration);
}

aside ul li:hover {
  color: rgb(55, 55, 63, 0.9);
}

.card aside {
  position: absolute;
  width: min-content;
  right: 10px;
  top: 50px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(calc(100% + 10px));
  opacity: 0;
  transition-duration: var(--duration);
}

.card:hover {
  scale: 1.1;
}

.card:hover aside {
  transform: translateX(0);
  opacity: 1;
}

.card h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
  width: calc(100% + 2 * var(--card-content-sides-padding));
  background-image: url(../images/wave.svg);
  background-repeat: repeat-x;
  overflow: hidden;
}

/* ====================GALLERY==================== */

.gallery {
  background-color: var(--gray-bg);
  overflow: auto;
}

.gallery .inner {
  justify-content: center;
  flex-direction: column;
  margin: var(--inner-margin);
  padding: var(--inner-padding);
}

.gallery img {
  display: block;
  transition-duration: var(--duration);
}

.gallery .cols {
  margin-top: 20px;
}

.gallery .inner .cols {
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.cols > div > div {
  border: 5px solid white;
  margin-bottom: 10px;
  z-index: 1;
  overflow: hidden;
}

.cols > div .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transform: translateY(100%);
  transition-duration: var(--duration);
}

.cols > div > div:hover .overlay {
  transform: translateY(0%);
}

.cols > div > div:hover img {
  scale: 1.1;
}

.cols > div .overlay p {
  padding: 20px;
  font-size: 16px;
}

.cols > div .overlay h3 {
  font-size: 24px;
  font-family: inter;
}

/* ====================CONTACT==================== */

.contact {
  overflow: auto;
}

.contact .inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--inner-padding);
  margin: var(--inner-margin);
}

.contact iframe {
  height: 350px;
  margin-top: 25px;
}

.contact .contact-info {
  flex-wrap: wrap;
  justify-content: center;
  --contact-gab: 15px;
  gap: var(--contact-gab);
  margin: 25px 0;
}

.contact-info > div {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 25px;
  width: calc(50% - var(--contact-gab) / 2);
}

.contact-info > div i.fa {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: var(--red-icon);
}

.contact-info > div h3 {
  color: var(--tertiary-gray);
  margin-bottom: 5px;
  font-size: 19px;
  font-family: inter;
}

.contact-info > div a,
.contact-info > div p {
  color: var(--primary-black);
  font-size: 16px;
}

form {
  padding: 20px;
  box-sizing: border-box;
  --input-gaps: 7px;
  box-shadow: rgba(0, 0, 0, 0.078) 0px 0px 30px 0px;
}

form input,
form textarea {
  box-sizing: border-box;
  margin: var(--input-gaps) 0;
  padding: 15px;
  border: 2px solid #e8e3e3;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--red-bg);
}

form > span {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: calc(var(--input-gaps) * 2);
}

form button {
  padding: 16px 35px;
  margin-top: 25px;
  font-size: 15px;
  border-radius: 25px;
  border: 0px;
  background-color: var(--red-icon);
  cursor: pointer;
}

/* ====================FOOTER==================== */

footer {
  display: flex;
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  padding: var(--inner-padding);
}

footer .inner {
  gap: 30px;
}

footer img {
  width: 40px;
}

footer .social .top {
  gap: 10px;
}

footer .social .top h2::after {
  content: ".";
  color: var(--red-icon);
  font-weight: bold;
}

footer .social p,
footer .social h3 {
  margin-top: 10px;
}

footer .social h3 {
  padding: 10px 0;
}

footer .social .down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h2 {
  font-size: 30px;
}

footer .social h3::after {
  content: "";
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--tertiary-gray);
  position: absolute;
}

footer .social .down ul {
  margin-top: 10px;
  justify-content: space-around;
  font-size: 24px;
}

footer .newsletter > div {
  display: flex;
  margin: 15px 0;
  gap: 5px;
}

footer .newsletter input {
  outline: none;
  padding: 10px;
  border: 0;
}

footer .newsletter button {
  min-width: fit-content;
  padding: 10px;
  background-color: var(--red-bg);
  font-size: 16px;
  border: 0px;
}

footer .newsletter ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

footer .newsletter ul li {
  flex-basis: calc(50% - 20px);
  transition-duration: var(--duration);
  padding: 5px;
}

footer .newsletter i {
  padding-right: 5px;
}

footer .newsletter ul li:hover {
  background-color: #222;
  transform: translateX(10px);
}

footer .newsletter p,
footer .newsletter h3,
footer .in-touch h3 {
  margin: 10px 0;
}

footer .in-touch {
  display: flex;
  flex-direction: column;
}

footer .in-touch h3 {
  margin-bottom: 20px;
}

footer .in-touch ul li {
  gap: 40px;
  margin-left: -40px;
}

footer .in-touch ul li i {
  width: 40px;
  height: 40px;
  color: var(--red-icon);
  font-size: 22px;
  cursor: pointer;
  text-indent: 40px;
}

footer .newsletter {
  flex-basis: 50%;
}

footer .social,
footer .in-touch {
  flex-basis: 25%;
}

footer .newsletter h3.inter {
  font-family: inter;
}

footer .newsletter h3,
footer .in-touch h3 {
  margin-top: 0;
}

/* ====================MEDIA QUERIES==================== */

@media screen and (max-width: 993px) {
  .inner {
    margin-right: 30px;
    margin-left: 30px;
  }

  .inner,
  header .inner > div,
  .contact-info > div {
    width: 100%;
  }

  /* ===========Navbar=========== */
  nav ul {
    display: none;
  }

  nav h1::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    color: var(--primary-black);
    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  nav h1::before::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    color: var(--primary-black);
    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  /* ===========Header=========== */
  header .inner {
    flex-direction: column-reverse;
    text-align: center;
    padding: 100px 0;
  }

  header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .inner > div {
    max-width: 100%;
  }

  header .inner .picture img {
    padding: 30px;
  }

  header .content > p {
    padding: 10px 0;
  }

  a.video {
    display: block;
    margin-top: 20px;
  }

  /* ===========Chefs=========== */
  .chefs .inner {
    padding: 50px 0;
  }

  .chefs .cards {
    flex-direction: column;
    align-items: center;
  }
  .chefs .cards .card {
    width: 80%;
  }
  .chefs .cards .card:hover {
    scale: 1.05;
  }

  /* ===========Gallery=========== */

  .gallery .inner {
    padding: 50px 0;
  }

  .gallery .inner .cols {
    flex-wrap: wrap;
  }

  .gallery .cols {
    width: 90%;
  }

  /* ===========Contact=========== */
  .contact .inner {
    padding: 50px 20px;
    box-sizing: border-box;
  }
  .contact .contact-info {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .contact-info > div {
    margin: 0 30px;
  }

  .contact span {
    flex-direction: column;
    gap: 0;
  }

  /* ===========Footer=========== */
  footer .inner {
    flex-direction: column;
  }
}
