/* ====================General Styling==================== */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-black: #212529;
  --secondary-black: #37373f;

  --primary-gray: #7f7f90;
  --secondary-gray: #4f4f5a;
  --tertiary-gray: #7d7d7d;

  --red-bg: #e51414;
  --red-icon: #ce1212;
  --gray-bg: #eeeeee;

  --primary-font: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --secondary-font: "Amatic SC", var(--primary-font);

  --duration: 0.3s;

  --inner-margin: 50px auto;
  --inner-padding: 40px 5px;

  --card-shadow: #0000001a 3px 3px 15px 0px;
  --card-content-sides-padding: 25px;
}

body {
  font-family: var(--primary-font);
}

.inner {
  display: flex;
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul li {
  display: inline-block;
}

h3 {
  color: rgb(33, 37, 41);
}

.caps {
  text-transform: uppercase;
}

h2.caps {
  font-family: inter;
  font-weight: normal;
  color: var(--primary-gray);
  font-size: 14px;
}

div.caps {
  font-family: var(--secondary-font);
  font-size: 50px;
}

div.caps span {
  color: var(--red-icon);
}

html {
  scroll-behavior: smooth;
}

/* ====================Navbar==================== */

nav {
  padding: 25px 0;
  box-shadow: #0000001b 0px 0px 14px 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: white;
}

nav .inner {
  justify-content: space-between;
  align-items: center;
}

h1 a {
  font-size: 30px;
  color: rgb(33, 37, 41);
}

nav h1::after {
  content: ".";
  color: var(--red-icon);
  font-weight: bold;
}

nav ul {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  position: relative;
  padding: 5px;
}

nav ul li::after {
  content: "";
  height: 2px;
  background-color: var(--red-icon);
  width: 0;
  bottom: -3px;
  left: 0;
  position: absolute;
  transition: width var(--duration) ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul a {
  color: var(--primary-gray);
  font-weight: 600;
  font-size: 17px;
}

nav i {
  color: var(--primary-black);
  font-size: 25px;
}

/* ====================HEADER==================== */

header {
  min-height: 100vh;
  background-color: var(--gray-bg);
  display: flex;
  align-items: center;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner > div {
  max-width: 50%;
}

header img {
  width: 85%;
  display: block;
  margin: auto;
}

header img:hover {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

header h2.caps {
  color: var(--secondary-black);
  font-family: var(--secondary-font);
  font-size: 65px;
  font-weight: 600;
}

header p {
  color: var(--secondary-gray);
  margin: 20px 0;
  max-width: 80%;
}

header button {
  background-color: var(--red-icon);
  border: 0px;
  padding: 14px 28px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
}

header button:hover {
  background-color: var(--red-bg);
}

header button a {
  color: white;
}

a.video {
  color: black;
  font-weight: bold;
  text-align: center;
  transition: all var(--duration) ease;
  position: relative;
}

a.video:hover {
  color: var(--red-bg);
}

.icon-wrapper {
  display: inline;
  position: relative;
  z-index: 1;
}

a.video i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

a.video i::after {
  content: "";
  background-image: linear-gradient(
    to right,
    var(--red-bg) 0 50%,
    transparent 50% 100%
  );
  height: 54px;
  width: 54px;
  border-radius: 50%;
  position: absolute;
  left: -7px;
  bottom: calc(-50% - 5px);
  z-index: -1;
}

/* ====================CHEFS==================== */

.chefs {
  overflow: auto;
}

.chefs .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--inner-margin);
  padding: var(--inner-padding);
}

.chefs img {
  width: 100%;
}

.chefs div.caps {
  color: var(--secondary-black);
  margin-bottom: 25px;
}

.chefs .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  align-items: stretch;
  text-align: center;
}

.chefs .cards .card {
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  width: calc(100% / 3);
  flex-grow: 1;
  position: relative;
  transition-duration: calc(var(--duration) + 0.2s);
  overflow: hidden;
}

.cards .card .content {
  padding: 10px var(--card-content-sides-padding);
  padding-bottom: 25px;
}

.cards .card h3 {
  font-size: 19px;
  font-weight: bold;
  font-family: var(--primary-black);
}

.card .content div,
.card .content p {
  color: var(--primary-gray);
}

.card .content div {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card .content p {
  font-style: italic;
  font-size: 15px;
}

.card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

aside ul li {
  display: inline-block;
  font-size: 18px;
  color: rgba(55, 55, 63, 0.4);
  padding: 10px;
  transition-duration: var(--duration);
}

aside ul li:hover {
  color: rgb(55, 55, 63, 0.9);
}

.card aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: min-content;
  justify-content: center;
  right: 10px;
  top: 50px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(calc(100% + 10px));
  opacity: 0;
  transition-duration: var(--duration);
}

.card:hover {
  scale: 1.1;
}

.card:hover aside {
  transform: translateX(0);
  opacity: 1;
}

.card h3 {
  position: relative;
}

.card h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
  width: calc(100% + 2 * var(--card-content-sides-padding));
  background-image: url(../images/wave.svg);
  background-repeat: repeat-x;
  overflow: hidden;
}

/* ====================GALLERY==================== */

.gallery {
  background-color: var(--gray-bg);
  overflow: auto;
}

.gallery .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--inner-margin);
  padding: var(--inner-padding);
}

.gallery img {
  width: 100%;
  display: block;
  transition-duration: var(--duration);
}

.gallery .cols {
  margin-top: 20px;
}

.gallery .inner .cols {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 10px;
}

.cols > div > div {
  border: 5px solid white;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cols > div .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transform: translateY(100%);
  transition-duration: var(--duration);
}

.cols > div > div:hover .overlay {
  transform: translateY(0%);
}

.cols > div > div:hover img {
  scale: 1.1;
}

.cols > div .overlay p {
  padding: 20px;
  font-size: 16px;
}

.cols > div .overlay h3 {
  color: white;
  font-size: 24px;
  font-family: inter;
}
